---
import type { CollectionEntry } from "astro:content";
import { getCollection } from "astro:content";
import Image from "~/components/widgets/Image.astro";
import RoomEntry from "~/components/widgets/RoomEntry.astro";
import Layout from "~/layouts/PageLayout.astro";
import { LOCALES, useTranslations, type Lang } from "~/i18n";

export async function getStaticPaths() {
  const zoneEntries: CollectionEntry<"zone">[] = await getCollection("zone");
  return Object.keys(LOCALES).flatMap((lang) =>
    zoneEntries.map((zone) => ({
      params: { lang, zone: zone.id },
      props: { zone },
    })),
  );
}

const locale = Astro.currentLocale as Lang;
const t = useTranslations(locale);

const { zone } = Astro.props;
const { id, data } = zone;

const rooms = await getCollection("room", (room) => room.data.zone.id === id);
---

<Layout title={t(data.name)}>
  <div class="h-[55svh]">
    <Image image={data.bannerImage} class="object-cover w-full h-full">
  </div>
  <div class="container mt-16">
    <h1 class="text-4xl font-bold mb-4">{t(data.name)}</h1>
    <div>
      {t(data.description)}
    </div>
    <div class="columns-1 md:columns-2 gap-4 mt-10">
      {data.images.map((image, i) => (
        <Image image={image} class:list={["w-full", {"mt-4": i > 0}]} />
      ))}
    </div>

    {rooms.length > 0 && (
      <h2 class="mt-16 text-3xl font-bold text-center">
        {
          t({
            en: "Our Rooms",
            pt: "Os Nossos Quartos",
          })
        }
      </h2>

      <div class="grid grid-cols-1 md:grid-cols-2 mt-10 gap-4">
        {rooms.map(roomEntry => (
          <RoomEntry room={roomEntry} />
        ))}
      </div>
    )}

    {data.bookingInfo && (
      <h2 class="mt-16 text-3xl font-bold text-center">
        {
          t({
            en: "Book Now!",
            pt: "Reserve Já!",
          })
        }
      </h2>

      <div class="mt-16 h-[80vh]">
        <iframe
          src={`https://www.avaibook.com/reservas/nueva_reserva.php?cod_alojamiento=${encodeURIComponent(data.bookingInfo.avaibookId)}&lang=${encodeURIComponent(locale)}&iframe=1`}
          class="w-full h-full"
        />
      </div>
    )}
  </div>
</Layout>
